<ion-view title="Friends">
    <ion-content padding="true" class="has-header">
        <ion-list></ion-list>
        <div class="button-bar"></div>
        <a href="#/groups" class="button button-stable button-block ">Saved Groups</a>
        <a class="item item-avatar" href="#">
            <img src="venkman.jpg">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
        </a>
        <a class="item item-avatar" href="#">
            <img src="zeus.jpg">
            <h2>Zeus</h2>
            <p>Feelin Godly.</p>
        </a>
        <a class="item item-avatar" href="#">
            <img src="zeus.jpg">
            <h2>Apollo</h2>
            <p>#BetterThanZeus.</p>
        </a>
    </ion-content>
</ion-view>