<ion-view title="Ride">
    <ion-content padding="true" class="has-header">
        <form class="list"></form>
        <form class="list">
            <label class="item item-input" name="Destination">
                <input type="text" placeholder="Destination">
            </label>
            <button class="button button-stable button-block ">Choose Friends!</button>
            <a href="#/tabs/ride" class="button button-stable button-block ">Estimate</a>
            <button class="button button-stable button-block ">Find an Uber!</button>
        </form>
        <form class="list"></form>
    </ion-content>
</ion-view>